p {
    margin: 0;
}

/* .Card {
    background: rgb(149, 225, 224);
    border-radius: 10px;
} */

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: rgb(221, 255, 0);
    color: rgb(0, 0, 0);
}

.type {
    margin: 10px 10px 10px 0;
    border-radius: 5px; 
    padding: 5px 10px; 
    background: rgb(0, 0, 0);
    color: #fff;
}


.Card__name {
    display: flex;
    justify-content: center;   
    text-transform: capitalize;
    color: rgb(255, 0, 0);
    
    font-weight: 700;
}

.Card__info {
    text-align: center;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}